* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    position: relative;
    background-color: #fafafa;
    transition: all 0.25s linear;
}

body.active {
    background-color: #333;
}

.boxForm {
    margin: 20px;
    width: 500px;
    height: 50px;
    position: relative;
}
.boxForm input {
    width: 100%;
    height: 100%;
    padding: 15px;
    outline: none;
    border: 1px solid #333;
    border-radius: 5px;
<<<<<<< HEAD
    transition: all 0.25s linear;
}
body.active .boxForm input {
    background-color: #333;
    color: #fafafa;
    border: 1px solid #848282;
}

.boxForm input:focus {
    border: 2px solid #224034;
    border-radius: 5px;
}
body.active .boxForm .title {
    background-color: #333;
    color: #fafafa;
}
=======
}
.boxForm input:focus {
    border: 2px solid #224034;
    border-radius: 5px;
}


>>>>>>> 57cb06c8700e4ca0ab8ceeb60bf4564bb7f420e2
.boxForm .title {
    position: absolute;
    padding: 5px;
    background-color: #fff;
    color: #b0aeae;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    transition: all 0.2s linear;
}

.boxForm .title.active {
    color: #4d4b4b;
    top: calc(-50% - 5px);
    transform: translateY(50%);
}
.random {
    width: 1200px;
    padding: 15px;
    margin: 20px;
    border: 1px dashed #806666;
    border-radius: 5px;
<<<<<<< HEAD
    transition: all 0.25s linear;
}
body.active .random {
    color: #fafafa;
    border: 1px dashed #ada9a9;
}
=======
}
>>>>>>> 57cb06c8700e4ca0ab8ceeb60bf4564bb7f420e2
.list_btn{
    margin-top: 15px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.list_btn .btn{
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 5px;
    font-weight: bold;
    outline: none;
    border: none;
    border: 2px solid #08964a;
    background-color: #1ea15b;
    box-shadow: 2px 3px 3px #9fa7a4;
    color: #fff;
    cursor: pointer;
    transition: all 0.25s linear;
}

.list_btn .btn:hover {
    background-color: #fff;
    color: #333;
    transform: scale(1.02);
}

.list_btn .copy {
    display: block;
    text-decoration: none;
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 5px;
    font-weight: bold;
    background-color: rgb(234, 156, 61);
    border: 2px solid #de9c18;
    box-shadow: 2px 3px 3px #9fa7a4;
    color: #fafafa;
    transition: all 0.25s linear;
}
.list_btn .copy:hover {
    background-color: #fff;
    border: 2px solid #de9c18;
    color: #3d3b3b;
    transform: scale(1.02);
}

.done {
    display: none;
    margin: 10px 20px;
    color: green;
}

.done.active {
    display: block;
}

@media (max-width: 739px) {
    body {
        /* margin: 0 10px; */
        width: 100%;
        overflow: hidden;
    }
    .boxForm {
        width: 290px;
    }
    .random {
        width: unset;
    }
}
<<<<<<< HEAD

/* dard mode */

.dark_mode {
    position: fixed;
    bottom: 40px;
    right: 40px;
}
.box_dark_mode {
    width: 80px;
    height: 40px;
    background-color: #949896;
    border: 1px solid #949896;
    position: relative;
    border-radius: 50px;
    transition: all 0.2s linear;
}
.change_btn {
    position: absolute;
    display: block;
    width: 50%;
    height: 35px;
    top: 50%;
    left: 2.5px;
    transform: translateY(-50%);
    background-color: #fff;
    border-radius: 50px;
    transition: all 0.2s linear;
    cursor: pointer;
}
.box_dark_mode.active {
    background-color: #fff;
}
.box_dark_mode.active .change_btn {
    left: unset;
    right: 2.5px;
    background-color: #000;
}
=======
>>>>>>> 57cb06c8700e4ca0ab8ceeb60bf4564bb7f420e2
